@use '../../../colors.scss';

div .menuItem {
  background-color: hsla(36, 54%, 63%, .5);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  margin: .5em;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  & * {
    margin: .2em;
    filter: drop-shadow(0 0 1px colors.$themeDark);
  }
}

.addToCart {
  display: flex;
  flex-direction: column;
  label {
    filter: drop-shadow(0 0 1px colors.$themeDark);
  }
  input {
    width: 35px;
    border-radius: .3em;
    margin: .4em;
  }
}